@model Magneti_Marelli_Test.Models.SiteUser

@using Magneti_Marelli_Test.Utility;

<div class="col-xs-12">

    @*<h1 class="page-header text-center">
        Welcome <span>@User.Identity.Name</span>
    </h1>*@

    <p class="h3 page-subheader text-center">
        <span>You belong to this groups: </span>
        <br />
        @foreach (var item in Model.Groups)
        {
            
            <span style="margin-right:5px;">
                <strong>@item.Name</strong>
            </span>
        }
    </p>

    <p class="h3 page-subheader text-center">
        <span>Your Role is : </span>
        <br />

        <span><strong> @Helper.GetEnumDescriptionValues(Model.Role)</strong></span>
    </p>

    <p class="h3 page-subheader text-center">
        <span>Your Can Access to the OU : </span>
        <br />
        @if (Model.Role == Magneti_Marelli_Test.Models.PortalRole.PortalAdministrators || Model.Role == Magneti_Marelli_Test.Models.PortalRole.LocalAdmnistrator)
        {
            foreach (var item in Model.Applications)
            {
                <span style="margin-right:5px;">
                    <strong>@item.OU</strong>
                </span>
            }
        }
        else
        {
            
                <span style="margin-right:5px;">
                    <strong>You Can Modify NOTHING!!!!!</strong>
                </span>
            
        }

    </p>

</div>
